@use 'abstracts/colors' as *;

@font-face {
	font-family: "Bitter";
	src: url("../assets/fonts/Bitter-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Bitter";
	src: url("../assets/fonts/Bitter-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Work Sans";
	src: url("../assets/fonts/WorkSans-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Work Sans";
	src: url("../assets/fonts/WorkSans-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

*,
*::before,
*::after {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	transition: all 150ms linear;
}

body {
	font-family: "Bitter", "Georgia", serif;
	font-size: 1rem;
	line-height: 1.5;
	color: $color-five;
	background-color: $color-one;
}


// Homepage
.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		"navigation"
		"header"
		"description"
		"aside"
		"footer";
	padding: 1rem;
	
	
	@media (min-width: 768px) {
		grid-template-rows: repeat(4, min-content);
		grid-template-columns: clamp(50%, 350px, 100%);
		grid-template-areas:
			"navigation navigation"
			"header header"
			"description description"
			"footer footer";
		padding: 2rem;
	}

	.navigation {
		grid-area: navigation;
		display: flex;
		flex-direction: row;
		margin-bottom: 1.5rem;
		border-top: 1px solid $color-five;
		border-bottom: 1px solid $color-five;


		@media (min-width: 768px) {
			width: 100%;
			flex-direction: row-reverse;
		}


		&__menu {
			width: 100%;
			display: inline-flex;
			list-style-type: none;

			
			@media (min-width: 786px) {
				width: 45%;
			}
		}

		
		&__item {
			flex-grow: 1;
			text-align: center;
			border-right: 1px solid $color-five;
		}


		&__item:first-child {
			border-left: 1px solid $color-five;
		}


		&__link {
			width: 100%;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			padding: 0.25rem 0;
			font-family: 'Work Sans', sans-serif;
			color: $color-five;
			text-decoration: none;


			&:hover, &:focus {
				background-color: $color-three;
				color: $color-five;	
			}
		}


		&__link--active {
			background-color: $color-four;
			color: $color-one;
		}
	}

	.header {
		grid-area: header;
		padding: 1rem 0 1rem 0;
		border-bottom: 1px solid $color-five;


		&__title {
			font-family: 'Work Sans', sans-serif;
			font-size: 3rem;
			line-height: 1;
			//margin-bottom: 0.75rem;
			font-weight: 700;


			@media (min-width: 768px) {
				font-size: 4rem;
			}
		}


		&__subtitle {
			font-family: 'Work Sans', sans-serif;
			font-size: 1.25rem;
			font-weight: 400;
			line-height: 1.25;


			@media (min-width: 768px) {
				font-size: 2rem;
			}
		}
	}

	.description {
		grid-area: description;
		padding: 1rem 0;

		
		&__text {
			@media (min-width: 768px) {
				width: 50%;
			}
		}


		&__text:not(:last-child) {
			margin-bottom: 1rem;
		}


		&__list {
			padding-left: 2rem;

			&--links {
				margin-top: 0.5rem;
				list-style-type: none;

				.description__link {
					display: inline-flex;
					align-items: center;
				}

				.link__icon {
					width: 1rem;
					height: 1rem;
					margin-right: 0.25rem;
				}
			}
		}
	}

	.footer {
		grid-area: footer;
		padding: 1rem 0;
		border-top: 1px solid $color-five;
		font-size: 0.9rem;


		&__item-container {
			margin-bottom: 0.5rem;
			color: $color-four;
		}


		&__item-container--last {
			margin-bottom: 2rem;
		}


		&__item--highlight {
			font-weight: 700;
		}
	}

	// About page
	&.about {
		@media (min-width: 768px) {
			grid-template-areas:
				"navigation navigation"
				"header header"
				"description aside"
				"footer footer";
			column-gap: 2rem;
		}

		.description {
			margin-bottom: 2rem;

			@media (min-width: 768px) {
				margin-bottom: unset;
			}

			
			&__photo {
				width: 200px;
				height: 200px;
				margin: 0 1rem 1rem 0;
				float: left;
			}


			&__text {
				@media (min-width: 768px) {
					width: 100%;
				}
			}
		}
		
		.aside {
			@media (min-width: 768px) {
				display: block;
				padding: 1rem 0;
			}


			&__title {
				font-family: 'Work Sans', sans-serif;
				font-size: 1.25rem;
			}


			&__map {
				width: 100%;
				min-height: 480px;
				margin-top: 1rem;
			}
		}
	}

	&.resume {
		@media (min-width: 768px) {
			grid-template-rows: repeat(7, min-content);
			grid-template-areas:
			"navigation navigation"
			"header header"
			"description description"
			"experience experience"
			"education education"
			"skills skills"
			"footer footer";
		}

		.description__list {
			padding-left: 0;
			display: inline-flex;
			flex-wrap: wrap;
		}

		.description__item {
			margin-right: 1rem;
		}

		.description__link svg {
			width: 1rem;
			height: 1rem;
			margin-right: 0.3rem;
			color: $color-five;
		}

		.experience {

			&__section {
				margin-bottom: 2rem;
			}

			&__header {
				display: flex;
				margin-bottom: 1rem;
				text-transform: uppercase;
				letter-spacing: 0.1rem;
	
				&::after {
					content: "";
					display: inline-flex;
					align-self: center;
					width: 100%;
					height: 1px;
					background-color: $color-five;
					margin-left: 0.5rem;
				}
			}

			
			&__details {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: start;
				margin-bottom: 0.35rem;

				@media (min-width: 512px) {
					flex-direction: row;
				}
			}

			&__dates {
				font-weight: 700;
			}

			&__achievements {
				padding-left: 1.5rem;
			}
		}
	}
}