# Remove www from any URLs that have them:
RewriteEngine on
RewriteCond %{HTTP_HOST} ^www\.
RewriteRule ^(.*)$ http://demia.me/$1 [R=301,L]

# Remove .html from any URLs that have them:
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# Force http to go to https:
RewriteCond %{HTTP_HOST} demia\.me [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://demia.me/$1 [R,L]