@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	outline: 0;
}

body, html {
  height: 100%;
}

body {
	font-family: "Fira Sans", sans-serif;
	font-size: 1em;
	background-color: #f0f0f0;
	animation: appear 0.5s ease-in-out 0s;
	color: #1c2833;
}

.container {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header {
	height: 50px;
	text-align: center;
	margin-bottom: 2em;
}

.header__list {
	list-style-type: none;
}

.header__item {
	display: inline-block;
	vertical-align: middle;
	padding: 1em;
}

.header__link {
	color: #1c2833;
	text-decoration: none;
	position: relative;
	font-size: 1.25em;
	font-weight: 300;
}

.header__link--active {
	font-weight: 700;
}

.header__link:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 5%;
	width: 90%;
	height: 2px;
	background: transparent;
	transition: bottom 250ms cubic-bezier(.68,-0.55,.27,1.55), background 250ms linear;
}

.header__link:hover:after, .header__link:focus:after {
	bottom: -3px;
	background: blue;
}

.main, .picture {
	text-align: center;
	width: 100%;
	max-width: 960px;
	position: relative;
	margin: 0 auto;
}

.image {
	box-shadow: 0;
	margin-bottom: 1em;
	background-color: #dda692;
	border-radius: 0;
	cursor: pointer;
	box-shadow: 3px 3px 5px #808080;
	transition: all 250ms cubic-bezier(.68,-0.55,.27,1.55);
}

.image:hover, .image:active, .image:focus {
	box-shadow: 5px 5px 10px #808080;
}

.main__content {
	width: 50%;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 4em;
}

.main__title {
	font-size: 2.5em;
	margin-bottom: 0.2em;
}

.main__description {
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

.footer__social {
	display: flex;
	flex-direction: row;
	justify-content: left;
	order: 2;
}

.footer__social svg {
	width: 32px;
	height: 32px;
	padding: 3px;
	border: 2px solid transparent;
	border-radius: 50%;
	transition: border-color 250ms cubic-bezier(.68,-0.55,.27,1.55);
}

.about__year {
	font-size: 1.1em;
	font-weight: 700;
}

.about__description {
	font-size: 0.9em;
}

.social__link {
	margin-right: 16px;
}

.social__link:last-child {
	margin-right: 0;
}

.social__link:hover svg, .social__link:focus svg{
	border-color: blue;
}

.projects__title {
	font-size: 1.5em;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

.projects__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	width: 48%;
	border: 1px solid #C0C0C0;
	border-radius: 0.5em;
	box-shadow: 2px 2px 5px #C0C0C0;
	overflow: hidden;
	text-align: left;
	margin-bottom: 2em;
}

.card img {
	width: 100%;
	border-bottom: 1px solid #C0C0C0;
}

.card__info {
	padding: 1em;
	border-bottom: 1px solid #C0C0C0;
}

.card__title {
	font-size: 1.2em;
	margin-bottom: 0.3em;
}

.card__description {
	font-size: 0.9em;
	margin-bottom: 0.5em;
}

.card__description:last-child {
	margin-bottom: 0;
}

.card__actions {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.actions__link {
	padding: 1em;
	width: 50%;
	text-align: center;
	transition: background-color 200ms ease-in-out;
	text-decoration: none;
}

.actions__link:visited {
	color: inherit;
}

.actions__link:first-child {
	border-right: 1px solid #C0C0C0;
}

.actions__link:hover, .actions__link:focus {
	background-color: blue;
	color: white;
}

.actions__link:active {
	background-color: darkblue;
}

.inactive {
	display: none;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1em 2em;
	border-top: 1px solid #C0C0C0;
	font-size: 0.8em;
}

.footer__text:hover, .footer__text:focus {
	background-color: blue;
	color: white;
}

/* @media screen and (prefers-color-scheme: dark) {
body {
	background:#19191a;
  	color:#c8d0dc;
  }
} */


@media (max-width: 1024px) {
	.projects {padding: 2em;}
}

@media (max-width: 800px) {
	.main__content {width: 75%;}
	.line {width: 75%;}
	.footer {flex-direction: column; justify-content: unset;}
	.footer__social {order: 1; margin-bottom: 0.5em;}
	.footer__text {order: 2; margin-bottom: 1em;}
}

@media (max-width: 600px) {
	.projects {padding: 0 1em;}
	.projects__cards {flex-direction: column;}
	.card {width: 100%;}
}

@media (max-width: 400px) {
	.header {margin-bottom: 0;}
	.header__item {font-size: 0.8em;}
	.main__title {font-size: 2em;}
	.main__description {font-size: 0.9em;}
}

@keyframes appear {
  0% {
  	opacity: 0;
  }
  100% {
    opacity: 1;
}