@use '../layout/container';
@use '../layout/main';
@use '../layout/projects';
@use '../layout/footer';

@use '../components/header';
@use '../components/links';
@use '../components/description';
@use '../components/section-title';
@use '../components/list';
@use '../components/buttons';

@use '../themes/dos-theme';

body {
	font-family: 'Work Sans', 'Inter', 'Open Sans', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	color: var(--beige-01);
	position: relative;
	// background: linear-gradient(to bottom right, var(--grey-02) 0%, var(--grey-04) 100%);
	background: linear-gradient(to bottom right, hsl(260, 6%, 35%) 0%, hsl(260, 6%, 15%) 100%);
}

.hidden {
	display: none;
}
