@use '../abstracts' as *;

.footer {
	@media (min-width: 60em) {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 3;
	}
}

.currently {
	padding: 1rem 0;
	font-size: 0.9rem;
	border-top: 1px solid var(--beige-03);

	&__item-container {
		margin-bottom: 0.5rem;
	}

	&__item-container:nth-child(2) {
		margin-bottom: 2.5rem;
	}

	&__item--highlight {
		letter-spacing: 0.5px;
		color: var(--beige-02);
	}
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: 700;
}
