.button {
	position: absolute;
	top: 0;
	right: 0;
	background: none;
	border: 0;
	display: inline-flex;
	cursor: pointer;
	padding: 0.25rem;
	transition: all 200ms ease-in-out;

	&--dos {
		font-family: '437', monospace;
		font-size: 1rem;
		color: var(--amber-01);

		&:hover {
			color: var(--amber-02);
		}

		&:focus {
			box-shadow: 0 0 0 4px var(--beige-02);
		}
	}

	.dos__dash {
		opacity: 1;
		animation-name: standby;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: steps(2, jump-none);
	}
}

@keyframes standby {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
