@use '../abstracts/variables' as *;

.btn {
	// Reset default browser styles
	background-color: unset;
	border: 0;
	cursor: pointer;
	display: inline-flex;
	align-items: center;

	&--secondary {
		padding: 0.25rem 1rem;
		border: 1px solid $color-three;
		font-family: 'Work Sans', sans-serif;
		text-decoration: none;

		&:hover,
		&:focus {
			background-color: $color-three;
			color: $color-five;
			box-shadow: 0 0 0 3px hsla(240, 27%, 18%, 0.4);
		}
	}

	&__icon {
		width: 1rem;
		height: 1rem;
		margin-right: 0.5rem;
	}
}
