@use '../abstracts/variables' as *;

.btn {
    // Reset default browser styles
    background-color: unset;
    border: 0;
    cursor: pointer;
}

.btn--secondary {
    padding: 0.25rem 1rem;
    border: 1px solid $color-three;
    font-family: 'Work Sans', sans-serif;


    &:hover, &:focus {
        background-color: $color-three;
        color: $color-five;	
        box-shadow: 0 0 0 3px hsla(240, 27%, 18%, 0.4);
    }
}