.description {
	grid-area: description;

	@media (min-width: 1024px) {
		width: 50%;
	}

	&__text:not(:last-child) {
		margin-bottom: 1rem;
	}

	&__list {
		&--links {
			list-style-type: none;
		}
	}
}
