@use '../abstracts/variables' as *;

.header {
    grid-area: header;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid $color-five;


    &__title {
        font-family: 'Work Sans', sans-serif;
        font-size: 3rem;
        line-height: 1;
        font-weight: 700;


        @media (min-width: 768px) {
            font-size: 4rem;
        }
    }


    &__subtitle {
        font-family: 'Work Sans', sans-serif;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.25;


        @media (min-width: 768px) {
            font-size: 2rem;
        }
    }
}