@use '../abstracts/variables' as *;

.navigation {
    grid-area: navigation;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
    border-top: 1px solid $color-five;
    border-bottom: 1px solid $color-five;

    &__menu {
        width: 100%;
        display: inline-flex;
        list-style-type: none;

        
        @media (min-width: 1024px) {
            width: 50%;
        }
    }

    
    &__item {
        flex-grow: 1;
        text-align: center;
        border-right: 1px solid $color-five;
    }


    &__item:first-child {
        border-left: 1px solid $color-five;
    }


    &__link {
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0.25rem 0;
        font-family: 'Work Sans', sans-serif;
        color: $color-five;
        text-decoration: none;


        &:hover, &:focus {
            background-color: $color-three;
            color: $color-five;	
            box-shadow: 0 0 0 3px hsla(240, 27%, 18%, 0.4);
        }
    }


    &__link--active {
        background-color: $color-four;
        color: $color-one;
    }
}