@use '../abstracts/variables' as *;

@font-face {
	font-family: "Bitter";
	src: url("../assets/fonts/Bitter-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Bitter";
	src: url("../assets/fonts/Bitter-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Work Sans";
	src: url("../assets/fonts/WorkSans-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Work Sans";
	src: url("../assets/fonts/WorkSans-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}


body {
	font-family: "Bitter", "Georgia", serif;
	font-size: 1rem;
	line-height: 1.5;
	color: $color-five;
	background-color: $color-one;
}