$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 20%);
$color-one: hsl(21, 35%, 92%);
$color-two: hsl(11, 24%, 72%);
$color-three: hsl(309, 6%, 58%);
$color-four: hsl(232, 17%, 35%);
$color-five: hsl(240, 27%, 18%);